@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    transition:0.2s linear;
    font-family:"Roboto", sans-serif;
}

:root {
    /* Paleta Tecnologia & Confiança */
    --azul-escuro: #0A2647;
    --azul-medio: #144272;
    --azul-destaque: #205295;
    --azul-claro: #b7ddff;
    --cinza-claro2: rgb(115, 123, 140);
    --cinza-escuro: #a0a0a0;
    --branco: #FFFFFF;
    --cinza-claro: #c5c3c3;
    --texto-escuro: #333333;
    --verde-escuro: #008600;
    --verde-claro: #77ff77;
    --amarelo-escuro: #9da800;
    --amarelo-claro: #faf899;
    /* para fundos claros */
    --cor-fundo: #F5F5F5;
    /* para fundos escuro */
    --cor-fundo-preto: #000000;
    /* substitua pela sua cor */
    --cor-texto: #333333;
    --cor-ciano-claro: #6fd3ff;
    --font-montserrat: "montserrat", sans-serif;
    --font-poppins: "poppins", sans-serif;
    --font-inter: "inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-size-titulo: 50px;
    --font-size-subtitulo: 40px;
    --font-size-texto: 30px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.menu_lateral {
 background: linear-gradient(#000, #4cb1dd);    
 color: var(--branco);
}

nav {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logotipo_menu_lateral {
    margin: 20px;
    height: 80px;
}

.linha_menu_lateral {
    height: 1px;
    width: 100%;
    background: var(--cinza-claro);
}

.icons_menu_lateral {
    height: 45px;
}

a {
    padding: 8px;
    height: 60px;
    border-radius: 10px;
    color: var(--branco);
    display: flex;
    align-items: center;
    gap: 10px;
}

a:hover {
    background: var(--cor-ciano-claro);
}

main {
    width: 100%;
}

.menu_horizontal {
    padding: 12px;
    height: 12%;
    background: var(--cor-ciano-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitulo_menu_horizontal {
    font-weight: 300;
}

.menu_icones {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icone_usuario_horizontal a{
    width: 55px;
    height: 55px;
    padding: 5px;
    background: var(--cinza-claro);
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: var(--cor-fundo-preto);
}

.icons_menu_horizontal {
    height: 45px;
}

.image_content:hover {
    cursor: pointer;
}

.notificacoes {
    width: 170px;
    height: 75px;
    background: var(--branco);
    border-radius: 5px;
    border: 1px solid var(--cor-texto);
    display: flex;
    position:absolute;
    right: 75px;
    display: none;
}

.image_content:hover .notificacoes {
    display: block;
    display: flex;
    align-items: center;
    text-align: center;
}

.area_conteudo {
    height: 85vh;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------ Aba Configurações ------*/
.dados_usuario {
    display: flex;
    gap: 15px;
}

.icone_usuario {
    width: 50px;
    height: 50px;
    padding: 5px;
    background: var(--cor-ciano-claro);
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.perfil_usuario {
    margin: 10px;
    padding: 30px;
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.perfil_usuario form {
    display: flex;
    flex-direction: column;
}

.cargo_usuario {
    font-weight: 300;
}

.formularios_usuario {
    display: flex;
    gap: 25px;
 
}

.campo_informacoes_usuario {
    width: 300px;
    height: 40px;
    margin-top: 5px;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid 1px var(--cor-fundo-preto);
}

.informations_usuario {
    margin-top: 20px;
}

.btn_salvar {
    width: 150px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid var(--cor-fundo-preto);
    font-weight: 500; 
}

.btn_salvar:hover {
    background: var(--azul-escuro);
    color: var(--cinza-claro);
    cursor: pointer;
}

.salvar_alteracao {
    margin: 10px 0px 0px 50%;
    background-color: var(--cor-ciano-claro);
}

.titulos_usuario {
    font-size: 25px;
}

.formulario_senha {
    display: flex;
    gap: 25px;
}

.campo_seguranca {
    display: flex;
    justify-content: flex-end;
}

.area_popup {
    display: flex;
    justify-content: center;
}

.popup {
    width: 370px;
    height: 200px;
    padding: 18px;
    background: var(--azul-escuro);
    border-radius: 10px;
    color: var(--branco);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn_voltar_senha {
    height: 50px;
    width: 90px;
    font-size: 25px;
    border-radius: 5px;
}

.btn_voltar_senha:hover {
    cursor: pointer;
}

/* ------ Aba Projetos ------*/

.projetos {
    margin: 15px;
    padding: 15px 25px;
    height: 170px;
    width: 98%;
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projeto_all {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titulo_status {
    display: flex;
    flex-direction: row;
}

.status {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: 700;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.status_concluido {
    background: var(--verde-claro);
    color: var(--verde-escuro);
    border: 1px solid var(--verde-escuro);
}

.status_andamento {
    width: 150px;
    background: var(--azul-claro);
    color: var(--azul-escuro);
    border: 1px solid var(--azul-escuro);
    border-radius: 10px;
    font-weight: 700;
}

.status_revisao {
    background: var(--amarelo-claro);
    color: var(--amarelo-escuro);
    width: 80px;
    border: 1px solid var(--amarelo-escuro);
    border-radius: 10px;
    font-weight: 700;
}

.projeto_tecnologia {
    font-size: 12px;
    display: flex;
    gap: 20px;
}

.tecnologia_projeto {
    width: 65px;
    height: 28px;
    background: var(--cinza-claro);
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prazo {
    color: var(--azul-destaque);
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.titulo_projeto {
    font-size: 25px;
}

.subtitulo_projeto, .prazo_projeto{
    font-weight: 300;
    font-size: 18px;
}

.prazo_projeto {
    font-size: 15px;
}

.btn_detalhes {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-weight: 700;
}

.btn_detalhes:hover {
    background: var(--cor-ciano-claro);
    cursor: pointer;
}

.btn_detalhes:active{
    background: var(--azul-escuro);
    color: var(--branco);
}
.btn_detalhes:active .icon_upload_branco{
    color: var(--branco);
    display: block;
}

.icon_upload_branco {
    position: absolute;
    right: 122px;
    display: none;
}

.icon_upload {
    width: 25px;
    height: 25px;
}

/* ------ Aba Suporte ------*/

.suporte {
    margin: 15px;
    padding: 15px 25px;
    height: 130px;
    width: 98%;
    border: 1px solid var(--cinza-claro);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}

.suporte_all {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.suporte_status {
    font-size: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.suporte_status h2 {
    font-size: 20px;
    font-weight: 200;
}

.suporte_status h1 {
    font-size: 25px;
}

.categorias {
    display: flex;
    gap: 25px;
}

.mensagem_suporte {
    display: flex;
    gap: 3px;
    font-size: 14px;
    align-items: flex-start;
}

.mensagem_suporte h3 {
    font-weight: 400;
}

.categoria_relevancia {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prazo_categoria {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: left;
    font-size: 12px;
}

.prazo_suporte {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.relevancia_finalizado {
    background: var(--verde-claro);
    color: var(--verde-escuro);
    border: 1px solid var(--verde-escuro);
    border-radius: 10px;
    font-weight: 700;
}

.relevancia_aberto {
    background: var(--azul-claro);
    color: var(--azul-escuro);
    border: 1px solid var(--azul-escuro);
    border-radius: 10px;
    font-weight: 700;
}

.relevancia_aguardando {
    background: var(--amarelo-claro);
    color: var(--amarelo-escuro);
    width: 80px;
    border: 1px solid var(--amarelo-escuro);
    border-radius: 10px;
    font-weight: 700;
}

.balao_suporte {
    height: 25px;
    width: 25px;
}