@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

:root {
    /* Paleta Tecnologia & Confiança */
    --azul-escuro: #0A2647;
    --azul-medio: #144272;
    --azul-destaque: #205295;
    --azul-claro: #2C74B3;
    --branco: #FFFFFF;
    --cinza-claro: #F5F5F5;
    --texto-escuro: #333333;
    /* para fundos claros */
    --cor-fundo: #F5F5F5;
    /* para fundos escuro */
    --cor-fundoE: #000000;
    /* substitua pela sua cor */
    --cor-texto: #333333;
    --cor-ciano-claro: #6fd3ff;
    --font-montserrat: "montserrat", sans-serif;
    --font-poppins: "poppins", sans-serif;
    --font-inter: "inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-size-titulo: 50px;
    --font-size-subtitulo: 40px;
    --font-size-texto: 30px;
}

body {
    width: auto;
    height: auto;
    background: linear-gradient(#000, #4cb1dd);
    background-repeat: no-repeat;
    background-size: auto;
}

.icons {
    height: 70px;
    width: px;
}

.logo {
    height: 80px;
    width: 190px;
}

.menu {
    width: 100%;
    padding: 40px;
    padding-right: 35%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.4rem;
    color: #fff;
}

.navbar a:hover {
    color: #4cb1dd;
    border-bottom: 0.1rem solid var(--cinza-claro);
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
}

.homepage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: var(--font-poppins);
    font-size: 52px;
    color: #4cb1dd;
    text-transform: uppercase;
    line-height: 1.4;
    white-space: nowrap;
}

.title span {
    font-size: 50px;
    white-space: initial;
    color: #fff;
    text-transform: uppercase;
}

.content {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.image {
    position:relative;
    right: 75px;
    top: 50px;
}

.botoes {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.btn {
    background: #69c3e6;
    color: #0d1b2a;
    padding: 1.2rem 2rem;
    font-size: 20px;
    font-weight: 700;
    border-radius: 40px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 240px;
    transition: 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* --- Section Clientes Parceiros --- */
.nossos_clientes_parceiros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cliente , .parceiros{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 35px;
    gap: 20px;
}

.cliente {
    text-align: right;
}

.titulo_cliente_parceiro {
    font-family: var(--font-roboto);
    font-weight: 800;
}

.logotipos {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.card-mae{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width:500px;
    height:800px;
    background-color:#0f1d2e;
    padding: 20px;
    border-radius: 20px;
    border-style: outset;
    opacity:0.65;
    text-align: center;
    transition: 1s;
    overflow:hidden ;
    margin: 30px;
}

.card-container {
    text-align: center;
    padding: 15px;
}

.card:hover{    
    opacity:1;
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px  #05618b;
}
.img-card {
    border-radius:50%;
    margin-bottom:15px;
    width: 100%;
    height: 400px; /* altura fixa pra imagem*/
    object-fit: cover; /* corta imagem sem distorcer*/
}

.card-container h1{
    margin-bottom:10px ;
    font-size: 30px;
    color: #4cb1dd;
}



.card-container p{
    font-size:1.3rem;
    color: #F5F5F5;
}

.btn-card{
    margin-top: auto;
    background: #69c3e6;
    color: #0d1b2a;
    padding: 1.0rem 1rem;
    font-size: 25px;
    font-weight: 500;
    border-radius: 25px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.content2{
    display:block;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 200px;
    height:250px;
}

.home-equipe{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estrela {
    margin-bottom:15px;
    width:100px;
    filter: invert();
}

.frase-card{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(3, 135, 153);
    font-size: 50px;
}