:root {
    --azul-escuro: #0A2647;
    --azul-medio: #144272;
    --azul-destaque: #205295;
    --azul-claro: #2C74B3;
    --white: #FFFFFF;
    --cinza-claro: #F5F5F5;
    --cor-texto: #333333;
    --main-color: #6fd3ff;
    --cor-label: #b3b3b3;
    --border: 1px solid rgba(255,255,255,0.2);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    font-family:"Roboto",sans-serif;
    transition:0.2s linear;
}

body{
    background:linear-gradient(135deg,#000,#4cb1dd);
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}


.menu{
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-between;
    padding:25px;
}

.logo-navbar{
    height:80px;
    width:190px;
}

.navbar{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.navbar a{
    margin:0 1rem;
    font-size:1.4rem;
    color:#fff;
    text-transform:capitalize;
}

.navbar a:hover{
    color:var(--main-color);
    border-bottom:1px solid var(--main-color);
    padding-bottom:5px;
}


.login-container{
    padding:40px;
    width:750px;
    border-radius:20px;
    box-shadow:0 0 50px var(--main-color);
}


.title{
    text-align:center;
    color:var(--main-color);
    font-size:2.8rem;
    font-weight:900;
    letter-spacing:5px;
    margin-bottom:35px;
}

.title span{
    color:#fff;
}

.sub-title {
    text-align: center;
    color: var(--cinza-claro);
}

.form-suporte{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.form-suporte select {
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #333;
    color: var(--cor-label);
}

.btn {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn a{

    margin-top:20px;
    padding: 11px;
    border:none;
    border-radius:20px;
    background:#3986a7;
    color:var(--cinza-claro);
    font-size:1.4rem;
    font-weight:700;
    cursor:pointer;
}

.btn a:hover{
    background:var(--cor-texto);
    color:var(--main-color);
}