:root{
    --main-color: #0A2647;
    --azul-medio: #144272;
    --azul-destaque: #205295;
    --azul-claro: #2C74B3;
    --branco: #FFFFFF;
    --cinza-claro: #F5F5F5;
    --texto-escuro: #333333;
    /* para fundos claros */
    --cor-fundo: #F5F5F5;
    /* para fundos escuro */
    --cor-fundoE: #000000;
    /* substitua pela sua cor */
    --cor-texto: #333333;
    --main-color2: #6fd3ff;
    --font-montserrat: "montserrat", sans-serif;
    --font-poppins: "poppins", sans-serif;
    --font-inter: "inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-size-titulo: 50px;
    --font-size-subtitulo: 40px;
    --font-size-texto: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: var(--font-roboto)
}

body{
    background: linear-gradient(135deg,#000, #0A2647);
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.logo-navbar {
    height: 80px;
    width: 190px;
}

.navbar {
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.4rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.orcamento-container{
    width:520px;
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 50px var(--main-color);
    text-align:center;
}

.titulo{
    color:var(--main-color);
    font-size:2.3rem;
    margin-bottom:10px;
    font-weight: 700;
}

.titulo span{
    color:white;
}

.sub-title{
    color:#fff;
    margin-bottom:30px;
    font-weight: 600;
}

.orcamento-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.orcamento-form label{
    color:#b3b3b3;
    text-align:left;
    font-size: 1.2rem;
}

.orcamento-form input,
.orcamento-form select,
.orcamento-form textarea{
    padding:12px;
    border:none;
    border-radius:5px;
    background:#333;
    color:white;
}

textarea{
    height:100px;
    resize:none;
}

.orcamento-form input:focus,
.orcamento-form textarea:focus{
    outline:2px solid var(--main-color);
}

.btn input {
    margin-top: 30px;
    padding: 10px 5rem;
    background-color: var(--main-color);
    color: var(--cinza-claro);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.btn input:hover{
    background:var(--cinza-claro);
    color:var(--main-color);
}